body{
    background-color: lightblue;
    text-align: center;
}
h1{
    color: blue;
    font-size: 56px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
label{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.navbar{
    font-size: 40px;
}
*{
    color: black;
    text-align: center;
}
form{
    width: 500px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
}
text,select,option,textarea,input,date{
    color: black;
    margin: 10px;
    padding: 10px;
    width: auto;
}